<h1>Recipes</h1>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-4 mb-4">
      <div class="card orange-card">
        <%= image_tag "recipe_final.png", class: "card-img-top" %>
        <div class="card-body">
          <h2 class="card-title orange-text"><%= recipe.name %></h2>
          <p class="card-text orange-text"><%= recipe.description %></p>
          <p class="card-text orange-text">Rating: <%= recipe.rating %> ⭐ </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
