<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div>
      <div class="image-position">
        <a class="navbar-brand" href="#">
          <%= image_tag("dbcomplete.png")%>
        </div>
      </a>
    </div>
  </div>
</div>
