
<div class="bg-homepage">
  <div class="benfica">
    <div class="logo">
      <%= image_tag url="dailybites.png"%>
    </div>
    <div class="texth">
      <p>Your smart meal planner.No more scrambling around hungry in the supermarket</p>
    </div>
    <div>
      <button type="button" class="btn btn-light">Light</button>
    </div>
  </div>
</div>